nav {
  background-color: #dbd6e9;
  height: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  border: black 1px solid;
}

.grid-header {
  grid-template-columns: auto;
}

.grid-content {
  border: black 1px solid;
}

.grid-item-1 {
  border: black 1px solid;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.grid-item {
  border: black 1px solid;
}

.col {
  flex: 1;
}

img {
  height: 600px;
  width: 600px;
}